version: '3'

services:
  db:
    image: postgres
    container_name: postgres_db
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql
      - ./init-multiple-users.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    # expose:
    #   - "5432"
    environment:
      POSTGRES_USER: vishal
      POSTGRES_PASSWORD: vishal
      POSTGRES_DB: vishDB

  adminer:
    image: adminer
    container_name: adminer_ui
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata: